@{
    var seriesTitle = "The Amazing Spider-Man";
    var issueNumber = 700;
    var description = "Final issue! Witness the final hours of Doctor Octopus' life and his one, last, great act of revenge! Even if Spider-Man survives... <strong>will Peter Parker?</strong>";
    var artists = new string[]
    {
        "Script: Dan Slott",
        "Pencils: Humberto Ramos",
        "Inks: Victor Olazaba",
        "Colors: Edgar Delgado",
        "Letters: Chris Eliopoulos"
    };
}
<div class="page-header">
    <h1>@seriesTitle</h1>
</div>
<div class="jumbotron">
    <h1>@seriesTitle</h1>
    <p class="lead">@Html.Raw(description)</p>
    <p><a class="btn btn-lg btn-success" href="#" role="button">Issue #@issueNumber</a></p>
</div>
<ul class="list-group">
    @foreach (string artist in artists)
    {
        <li class="list-group-item">@artist</li>
    }
</ul>
